@font-face {
    font-family: 'menu-title';
    /*a name to be used later*/
    src: url('../fonts/delirium_sample.otf');
    /*URL to font*/
}

.cust-font-title {
    text-transform: capitalize;

    font-family: 'menu-title';

    font-size: 3em;

    color: #282828;
    padding: 10px 0 15px 0;

    margin: 10px 0 10px 0;
}

.food-name {
    font-size: .8em;
    text-align: left;
}

.price {
    text-align: center;
    font-size: .8em;
}

th{
    font-size: .6em;
}
/*imagen menu parrillada y agrega queso a tu torta*/
img.img-fluid.hidden-lg-down {
    300: 300;
    /* max-height: 200px; */
    max-width: 360px;
    padding-top: 20px;
    /* margin: 0 auto; */
    border-radius: 10px;
}

#block03b > div.container > div:nth-child(1) > div:nth-child(3) > div:nth-child(5) > img {
    /* border-radius: 30%; */
    max-width: 300px;
    max-height: 200px;
    position: relative;
    /* top: 21px; */
    /* border: solid 5px #684742; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/*
#block03b > div.container > div:nth-child(1) > div:nth-child(2) {
    background-color: #dadde126;
}
*/

/*
#block03b > div.container > div:nth-child(2) {
    background-color: #dadde126;
}
*/

#block03b > div.container > div:nth-child(2) > div.col-sm.col-6 > div > div > div:nth-child(4) {
    padding-top: 10px;
    border-top: #ccc solid 3px;
    margin-top: 20px;
    padding-bottom: 20px;
}

#block03b > div.container > div:nth-child(2) > div.col-sm.col-lg-6 > img {
    border-radius: 20px;
    height: 700px;
}

